@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("Woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("Woff2");
  font-display: swap;
}
html {
  height: 100%;

}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;

}


.navigation-search-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color:  #756157;
  color: #ffffff;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-search-item {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  color: #000000;
}

.advantage {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

}
.advantage-child {
  text-align: center;

}
.advantage-title,
.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.benefits-title{

  padding: 30px 0;
}

.benefits-about {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;


}

.advantage-title-text{
  font-size: 18px;
  line-height: 21px;
  text-align: center;

}
.search-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.search-hotel-description {
  text-align: center;
}

.page-footer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer-description {
  text-align: center;
  color: #ffffff;
}
.number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/**Шрифты на форму**/
.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}
.button {
  font-family: "inherit";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

.button-search {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color:#756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.inner-header-title {
  font-family: "inherit";
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.breadcrumbs {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
}
.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  text-transform: capitalize;
}
.catalog-filter-list {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.button-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.hotel-cards-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-list a {
  text-decoration: none;
}
.hotel-cards-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}
.hotel-cards-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.search-hotels {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}


/**Сортировка**/
.dropdown {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

}
.navigation-list {
  display: flex;
  justify-content: flex-start;


  width: 490px;

  margin: 0;
  padding: 0;
  padding-left: 47px;

}
.navigation-item {
  padding-right: 34px;
}
.navigation-search {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-right: 70px;
  margin-left: auto;

}
.site-container {
  width: 1200px;
  margin: 0 auto;
}
.page-header-logo {
  display: block;
  margin: 0 auto;
  margin-left: 70px;
}
.welcome-container {
  display: block;
  margin: 0 auto;
  margin-bottom: 75px;
}

.advantage-container{
  display: flex;
  justify-content: space-between;

  flex-wrap: nowrap;


  width: 1200px;


  margin: 0;
  padding: 0;

}
.advantage-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.advantage-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantage-item {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
}

.benefits-list {
  display: flex;
  flex-direction: row;


  margin-top: 80px;
  padding: 0;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  width: 400px;
  height: 384px;






}


/**sticky footer**/
.main-container {
  flex-grow: 1;
}

/**Центрирование страницы*/
.page-container {
  margin: 0 auto;
  width: 1200px;
}
/**Фоновые изображения**/
.inner-filter {
  background-color: #82B3D3;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-background {
  background-color: #349ef5;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

}
.newsletter {
  background-color:  #82B3D3;
  background-image: url("../images/pattern.jpg");
  height: 411px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}


/**Декоративные элементы**/
.benefits-icon-house {
  background-image: url("../images/icon/house-icon.svg");
  background-repeat: no-repeat;
  background-position: top;


}

.benefits-icon-burger {
  background-image: url("../images/icon/burger-icon.svg");
  background-repeat: no-repeat;
  background-position: top;

}
.benefits-icon-gifts {
  background-image: url("../images/icon/gift-icon.svg");
  background-repeat: no-repeat;
  background-position: top;

}

.social-icon-vk {
  background-image: url("../images/icon/social-icon-vkontakte.svg");
  background-repeat: no-repeat;
}
.social-icon-telegram {
  background-image: url("../images/icon/social-icon-telegram.svg");
  background-repeat: no-repeat;
}
.social-icon-youtube {
  background-image: url("../images/icon/Social-icon-youtube.svg");
  background-repeat: no-repeat;
}
.about-text {
  background-image: url("../images/logo-academy.svg");
  background-repeat: no-repeat;
  height: 40px;
}






/** stealth
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
*/


ul {
  list-style: none;
}
