@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("Woff2");
  font-display: swap;
}






















ul {
  list-style: none;
}
